---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';
const { title } = Astro.props;
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<meta name="description" content="Grunge er den revolutionære musikgenre, der blomstrede i 1990'ernes Seattle. 
		Det er en rå stil af rock, og var en modreaktion på 1980'ernes popmusik.">
	</head>
	<body>

		<header>
			<Header></Header>
		</header>
		
		<main>
			<slot/>
		</main>

		<footer>
			<Footer></Footer>
		</footer>
			
	</body>
</html>